<html>
    <head>
    <link href="css/basic.css" rel="stylesheet">
    <link href="css/signup.css" rel="stylesheet">
    </head>
    <body>
        <div id="biggest_wrapper">
            <div id="header">
                <div id="title-left">
                    <span class="title-text">WhatYaListen</span>
                </div>
                <div id="title-right">
                    <ul id="menu-links">
                        <li><a href="signup">Sign up</a></li>
                        <li><a href="login">Log in</a></li>
                    </ul>
                </div>
            </div>
            <div id="middle">
                <div class="form-header">Error</div>
                <div style="width:50%; margin-left:155px;"><img src="http://wfarm2.dataknet.com/static/resources/icons/set114/b4f29385.png" style="width:75%;" /></div>
                <div class="form-sub">Something went wrong. Please try again.</div>
                <div class="form-sub">Click <a href="signup" style="display:inline-block;">here</a> to proceed.</div>
            </div>
        </div>
    </body>
</html>